<p id="notice"><%= notice %></p>

<h1>Proveedores</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Documento fiscal</th>
      <th>Telefono</th>
      <th>Direccion</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @providers.each do |provider| %>
      <tr>
        <td><%= provider.nombre %></td>
        <td><%= provider.documento_fiscal %></td>
        <td><%= provider.telefono %></td>
        <td><%= provider.direccion %></td>
        <td><%= provider.email %></td>
        <td><%= link_to 'Mostrar', provider %></td>
        <td><%= link_to 'Editor', edit_provider_path(provider) %></td>
        <td><%= link_to 'Destruir', provider, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo proveedor', usuario_providers_path(current_usuario.id) %>
