<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :nombre_cliente, placeholder: "Nombre cliente:" %>
  </div>
  <div class="field">
    <%= f.text_field :documento_fiscal, placeholder: "Documento fiscal:" %>
  </div>
  <div class="field">
    <%= f.text_field :telefono, placeholder: "Telefono" %>
  </div>
  <div class="field">
    <%= f.text_area :direccion, placeholder: "Direccion" %>
  </div>
  <div class="field">
    <%= f.text_field :email, placeholder:"Email" %>
  </div>
  <div class="actions">
    <%= f.submit :Guardar %>
  </div>
<% end %>
