<p id="notice"><%= notice %></p>

<h1>Lista de animales</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Potrero</th>
      <th>Proveedor</th>
      <th>Fecha compra</th>
      <th>Fecha venta</th>
      <th>Genero</th>
      <th>Cria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @animals.each do |animal| %>
      <tr>
        <td><%= animal.paddock.nombre_potrero %></td>
        <td><%= animal.provider.nombre %></td>
        <td><%= animal.fecha_compra %></td>
        <td><%= animal.fecha_venta %></td>
        <td><%= animal.genero %></td>
        <td><%= animal.cria %></td>
        <td><%= link_to 'Mostrar', animal %></td>
        <td><%= link_to 'Editar', edit_animal_path(animal) %></td>
        <td><%= link_to 'Destruir', animal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear Animal', new_animal_path %>
