<!DOCTYPE html>
<html>

<head>
  <title>Agrognome Web</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

    <body>
    <!-- Header -->
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand nav-logo" style="color: floralwhite" href="#">AGROGNOME</a>
                  </div>
                  <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                      <li><%= link_to "Home","/welcome/index", method: :get %></li>
                      <li><a href="#">Quienes somos</a></li>
                      <li><a href="#">Contacto</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">

                      <% if usuario_signed_in? %>

                          <li>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Administrar finca <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                              <li><%= link_to "Potreros", usuario_paddocks_path(current_usuario.id) %> </li>
                              <li><%= link_to "Compras", usuario_buys_path(current_usuario.id) %> </li>
                              <li><%= link_to "Ventas", usuario_sells_path(current_usuario.id) %> </li>
                              <li><%= link_to "Proveedores", usuario_providers_path(current_usuario.id) %> </li>
                              <li><%= link_to "Clientes", usuario_customers_path(current_usuario.id) %> </li>
                              <li><%= link_to "Animales", usuario_animals_path(current_usuario.id) %> </li>
                            </ul>
                          </li>
                          <li>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Reportes<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                              <li><a href="#">Reporte de compras</a></li>
                              <li><a href="#">Reporte de ventas</a></li>
                              <li><a href="#">Reporte compra/venta</a></li>
                              <li><%= link_to "Facturas", usuario_invoices_path(current_usuario.id) %> </li>
                            </ul>
                          </li>
                          <li><%= link_to "Configuracion de cuenta", usuario_profiles_path(current_usuario.id) %> </li>
                          <li>

                            <%=link_to "Cerrar sesion", destroy_usuario_session_path, method: :delete%>
                          </li>

                          <% else %>
                          <li><%=link_to "Iniciar Sesion", "/usuarios/sign_in" %> </li>
                          <li><%=link_to "Registrarse", "/usuarios/sign_up" %> </li>

                            <!--<li><a href="#"><span class="glyphicon glyphicon-user"></span> Registrarse</a></li>-->
                            <!--<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Inicio sesion</a></li>-->

                      <%end %>
                    </ul>
                  </div>
                </div>
              </nav>
              <% if usuario_signed_in? %>
                  <li class="list-unstyled be-white margin-bot">Has iniciado sesion como: <%= current_usuario.email%></li>
              <%end%>
              <li class="list-unstyled notice be-white"><%= notice %></li>
              <li class="list-unstyled alert be-white"><%= alert %> </li>

            </div>
          </div>
        </div>
    <!-- Body -->
        <div class="container table-bordered bg-grey">

          <%= yield %>
        </div>
    <!-- Footer-->

        <footer class="top-space">
          <div class="footer2">
            <div class="container">
              <div class="row">

                <div class="col-md-6 widget">
                  <div class="widget-body">
                    <p class="simplenav">
                      <a href="#">Inicio</a> |
                      <a href="about.html">Acerca</a> |
                      <a href="contact.html">Contacto</a> |
                      <b><a href="signup.html">Registrarse</a></b>
                    </p>
                  </div>
                </div>

                <div class="col-md-6 widget">
                  <div class="widget-body">
                    <p class="text-right">
                      Copyright &copy; 2015, Giuseppe Vetri.
                    </p>
                  </div>
                </div>

              </div> <!-- /row of widgets -->
            </div>
          </div>
        </footer>


    </body>


</html>
