<!DOCTYPE html>
<html>

<head>
  <title>Agrognome Web</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

    <body>
    <!-- Header -->
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand nav-logo" style="color: floralwhite" href="#">AGROGNOME</a>
                  </div>
                  <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                      <li><%= link_to "Home","/welcome/index", method: :get %></li>
                      <li><a href="#">Quienes somos</a></li>
                      <li><a href="#">Contacto</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                      <li class="notice"><%= notice %></li>
                      <li class="alert "><%= alert %> </li>
                      <% if usuario_signed_in? %>
                          <li>
                            <%=link_to "Cerrar sesion", destroy_usuario_session_path, method: :delete%>
                          </li>
                          <% else %>
                          <li><%=link_to "Iniciar Sesion", "/usuarios/sign_in" %> </li>
                          <li><%=link_to "Registrarse", "/usuarios/sign_up" %> </li>

                            <!--<li><a href="#"><span class="glyphicon glyphicon-user"></span> Registrarse</a></li>-->
                            <!--<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Inicio sesion</a></li>-->

                      <%end %>
                    </ul>
                  </div>
                </div>
              </nav>
            </div>
          </div>
        </div>
    <!-- Body -->
        <div class="container table-bordered bg-grey">

          <%= yield %>
        </div>
    <!-- Footer-->

        <footer class="top-space">
          <div class="footer2">
            <div class="container">
              <div class="row">

                <div class="col-md-6 widget">
                  <div class="widget-body">
                    <p class="simplenav">
                      <a href="#">Inicio</a> |
                      <a href="about.html">Acerca</a> |
                      <a href="contact.html">Contacto</a> |
                      <b><a href="signup.html">Registrarse</a></b>
                    </p>
                  </div>
                </div>

                <div class="col-md-6 widget">
                  <div class="widget-body">
                    <p class="text-right">
                      Copyright &copy; 2015, Giuseppe Vetri.
                    </p>
                  </div>
                </div>

              </div> <!-- /row of widgets -->
            </div>
          </div>
        </footer>


    </body>


</html>
